{% extends 'base.html' %}

{% block content %}
  <h1 style="color: white;">Edit Ticket</h1>
  <div row>
    <div class="col-4">
      <form method="POST">
        <div class="mb-4">
          <label for="title" class="form-label" style="color: white;">Title</label>
          <input type="text" class="form-control" id="title" name="title" required>
        </div>
        <div class="mb-3">
          <label for="description" class="form-label" style="color: white;">Description</label>
          <input type="text" class="form-control" id="description" name="description" required>
        </div>
        <button type="submit" class="btn btn-primary">Update Ticket</button>
      </form>
    </div>
  </div>
{% endblock %}
